<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile - Brand</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Adamina&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Advent+Pro&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aguafina+Script&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akaya+Kanadaka&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akaya+Telivigala&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akronim&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aladin&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alata&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alef&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+SC&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aleo&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alex+Brush&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alice&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alike&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alike+Angular&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allan&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allura&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Almarai&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Almendra&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Almendra+Display&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Almendra+SC&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amarante&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amaranth&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amethysta&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiko&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiri&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amita&amp;display=swap">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: #e40046;">
            <div class="container-fluid d-flex flex-column p-0"><i class="fa fa-star" style="background: url(&quot;/assets/img/logo.png&quot;) left / contain no-repeat;width: 160px;height: 150px;"></i>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar" style="height: 502px;">
                    <li class="nav-item" style="height: 60px;font-size: 16px;"><a class="nav-link" href="Dashboard.html" style="font-size: 20px;"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item" style="height: 60px;"><a class="nav-link" href="profile.html" style="font-size: 20px;"><i class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item" style="height: 214px;"><a class="nav-link" href="patients.html" style="font-size: 20px;"><i class="fas fa-table"></i><span>Patients</span></a><a class="nav-link" href="record.html" style="font-size: 20px;"><i class="fa fa-sticky-note"></i>Records</a><a class="nav-link" href="appointmentList.html" style="font-size: 20px;"><i class="fas fa-clipboard"></i>Appointment</a></li>
                    <li class="nav-item" style="font-size: 20px;"><a class="nav-link" href="#" style="font-size: 16.6px;"><i class="far fa-user-circle"></i><span>Log out</span></a></li>
                    <li class="nav-item"></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top" style="margin-left: 0px;width: 1137px;">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop-1" type="button"><i class="fas fa-bars"></i></button><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#" style="width: 140.3px;">
                            <div class="sidebar-brand-text mx-3"><span style="font-family: Adamina, serif;font-size: 30px;text-align: right;font-weight: bold;">CUMC</span></div>
                        </a>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="me-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter"><%= appointments.length %></span><i class="fas fa-bell fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">    
                                        <h6 class="dropdown-header">Notification</h6>
                                        <% if(appointments) { %>
                                            <% for(var appointment of appointments) { %>
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    <div class="me-3">
                                                        <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                                    </div>
                                                    <div><span class="small text-gray-500"><%= appointment.appointmentDate %></span>
                                                        <p>You have a <%= appointment.status.toLowerCase() %> appointment with <%= appointment.patient.first_name %> </p>
                                                    </div>
                                                </a> 
                                                </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                            <% } %>
                                        <% } else { %>
                                            <a class="dropdown-item d-flex align-items-center" href="#">
                                                <div class="me-3">
                                                    <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                                </div>
                                                <div>
                                                    <p>You have a no pending appointments </p>
                                                </div>
                                            </a>
                                        <% } %>
                                    </div>
                                </div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="d-none d-lg-inline me-2 text-gray-600 small">{Doctor's name}</span><img class="border rounded-circle img-profile" src="/assets/img/avatars/avatar3.jpeg"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a class="dropdown-item" href="profile.html"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" href="#"><i class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Settings</a><a class="dropdown-item" href="#"><i class="fas fa-list fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Activity log</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4" style="font-family: Nunito, sans-serif;font-size: 30px;">Profile</h3>
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <div class="card mb-3" style="height: 290px;">
                                <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="/assets/img/avatars/avatar3.jpeg" width="160" height="160">
                                    <div class="mb-3"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="row mb-3 d-none">
                                <div class="col">
                                    <div class="card textwhite bg-primary text-white shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card textwhite bg-success text-white shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="m-0 fw-bold">User Profile</p>
                                        </div>
                                        <div class="card-body">
                                            <form>
                                                <div class="row">
                                                    <div class="col"><label class="form-label" for="email"><strong>Card Number </strong></label>
                                                        <div class="mb-3"><input class="form-control" type="text" style="width: 200.5px;" name="cardNumber%"></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col"><label class="form-label" for="first_name"><strong>First Name</strong></label>
                                                        <div class="mb-3"><input class="form-control" type="text" style="width: 200.5px;" name="first_name"></label>
                                                    </div>
                                                    <div class="col"><label class="form-label" for="last_name"><strong>Last Name</strong></label>
                                                        <div class="mb-3"><input class="form-control" type="text" style="width: 200.5px;" name="last_name"></div>
                                                    </div>
                                                </div>
                                                <div class="mb-3"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <form action="/records" method="POST">
                        <div class="col" style="margin-top: 43px;">
                            <div class="card shadow mb-5">
                                <div class="card-header py-3">
                                    <p class="m-0 fw-bold">Vitals&nbsp;</p>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6" style="width: 400.5px;">
                                            <div class="row">
                                                <div class="col"><label class="form-label" for="email"><strong>Card Number </strong></label>
                                                    <div class="mb-3"><input class="form-control" type="text" style="width: 200.5px;" name="<%=patient.cardNumber%>" readonly></div>
                                                </div>
                                            </div>
                                            <div class="mb-3" style="width: 200.5px;">
                                                <label class="form-label" for="signature"><strong>Blood type</strong><br></label><input class="form-control" type="text" style="width: 200.5px;" name="blood_type">
                                            </div>
                                            <div class="mb-3" style="width: 200.5px;">
                                                <label class="form-label" for="signature"><strong>Blood pressure</strong><br></label><input class="form-control" type="text" style="width: 200.5px;" name="blood_pressure">
                                            </div>
                                            <div class="mb-3" style="width: 200.5px;">
                                                <label class="form-label" for="signature"><strong>Weight</strong><br></label><input class="form-control" type="text" style="width: 200.5px;" name="weight">
                                            </div>
                                            <div class="mb-3" style="width: 200.5px;">
                                                <label class="form-label" for="signature"><strong>Pulse rate</strong><br></label><input class="form-control" type="text" style="width: 200.5px;" name="pulse_rate">
                                            </div>
                                            <div class="mb-3" style="width: 292.5px;">
                                                <label class="form-label" for="signature"><strong>Observations</strong><br></label><textarea class="form-control" id="signature" rows="4" name="observations" style="width: 292.5px;"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-6" style="width: 509.5px;">
                                            <div class="mb-3" style="width: 200.5px;">
                                                <label class="form-label" for="signature"><strong>Genotype</strong><br></label><input class="form-control" type="text" style="width: 200.5px;" name="genotype">
                                            </div>
                                            <div class="mb-3" style="width: 200.5px;">
                                                <label class="form-label" for="signature"><strong>Temperature</strong><br></label><input class="form-control" type="text" style="width: 200.5px;" name="temperature">
                                            </div>
                                            <div class="mb-3" style="width: 500.5px;">
                                                <label class="form-label" for="signature"><strong>Allergies</strong><br></label><textarea class="form-control" id="signature-1" rows="4" name="allergies"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col" style="margin-top: 43px;">
                            <div class="card shadow mb-5">
                                <div class="card-header py-3">
                                    <p class="m-0 fw-bold">Medications</p>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3" style="width: 235.5px;">
                                                <label class="form-label" for="signature"><strong>Name of medications</strong><br></label><input class="form-control" type="text" style="width: 235.5px;" name="name"></div>
                                            <div class="mb-3" style="width: 200.5px;">
                                                <label class="form-label" for="signature"><strong>Type</strong><br></label><input class="form-control" type="text" style="width: 200.5px;" name="type"></div>
                                            <div class="mb-3" style="width: 200.5px;">
                                                <label class="form-label" for="signature"><strong>Dosage</strong><br></label><input class="form-control" type="text" style="width: 200.5px;" name="dosage"></div>
                                            <form>
                                                <div class="mb-3"><label class="form-label" for="signature"><strong>Description</strong><br></label><textarea class="form-control" id="signature" rows="4" name="description"></textarea></div>
                                                <div class="mb-3"></div>
                                                <div class="mb-3"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3" style="margin-left: 69px;"><button class="btn btn-primary btn-sm" type="submit" style="background: #e40046;font-size: 18px;width: 90.3px;">Save</button></div>
                    </form>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Moyo2021</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/theme.js"></script>
</body>

</html>