<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%=user.first_name%> || Patient Dashboard</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/trelyco-login-vertical-horizontal-1.css">
    <link rel="stylesheet" href="/assets/css/trelyco-login-vertical-horizontal.css">
</head>

<body style="padding-top: 8px;padding-left: 0px;margin-right: 13px;background: #e40046;margin-left: 7px;">
    <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top" style="border-bottom-width: 27px;border-bottom-color: var(--bs-pink);">
        <div class="container-fluid"><a class="navbar-brand" href="#" style="font-size: 20px;"><strong>C</strong>ovenant <strong>U</strong>niversity <strong>M</strong>edical <strong>C</strong>entre</a><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop-2" type="button"><i class="fas fa-bars"></i></button>
            <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group"></div>
            </form>
            <ul class="navbar-nav flex-nowrap ms-auto">
                <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                    <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                        <form class="me-auto navbar-search w-100">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                            </div>
                        </form>
                    </div>
                </li>
                <li class="nav-item dropdown no-arrow mx-1">
                    <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter"><%= appointments.length %></span><i class="fas fa-bell fa-fw"></i></a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">    
                            <h6 class="dropdown-header">Notification</h6>
                            <% if(appointments) { %>
                                <% for(var appointment of appointments) { %>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="me-3">
                                            <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                        </div>
                                        <div><span class="small text-gray-500"><%= appointment.appointmentDate %></span>
                                            <p>You have a <%= appointment.status.toLowerCase() %> appointment with <%= appointment.doctor.first_name %> </p>
                                        </div>
                                    </a> 
                                <% } %>
                            <% } else { %>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="me-3">
                                        <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                    </div>
                                    <div>
                                        <!-- <span class="small text-gray-500"><%= appointment.appointmentDate %></span> -->
                                        <p>You have a no pending appointments </p>
                                    </div>
                                </a>
                            <% } %>
                        </div>                                           
                    </div>
                </li>
                <div class="d-none d-sm-block topbar-divider"></div>
                <li class="nav-item dropdown no-arrow">
                    <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="d-none d-lg-inline me-2 text-gray-600 small"><%=user.email%></span><img class="border rounded-circle img-profile" src="/assets/img/download.png" style="width: 46px;"></a>
                        <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                            <a class="dropdown-item" href="/dashboard/patient"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a>
                            <a class="dropdown-item" href="/dashboard/patient"><i class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Settings</a>
                            <a class="dropdown-item" href="/dashboard/patient"><i class="fas fa-list fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Activity log</a>
                            <div class="dropdown-divider"></div><a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="col-lg-12 d-lg-flex justify-content-lg-center" style="height: 600px;margin-top: 10px;">
        <div class="card shadow mb-3" style="width: 1270px;height: 583px;padding-left: 0px;margin-left: 23px;">
            <div class="card-body">
                <div class="container">
                    <div class="row" style="width: 1040px;margin-right: 0px;">
                        <div class="col-md-3" style="width: 240px;">
                            <div style="width: 25px;"><img src="/assets/img/download.png" style="width: 155px;"></div>
                        </div>
                        <div class="col-md-7" style="padding-bottom: 25px;height: 100px;width: 716px;margin-top: 34px;padding-left: 108px;margin-left: 40px;">
                            <div></div>
                            <h5><%=user.first_name%> <%=user.last_name%></h5>
                            <h6><%=user.address%></h6>
                            <p>Card Number:&nbsp;<span><%=user.cardNumber%></span></p>
                            <div style="height: 403px;width: 810px;margin-top: 12px;color: rgb(255,255,255);">
                                <ul class="nav nav-tabs" role="tablist" style="width: 568px;">
                                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-1" style="border-bottom-color: var(--bs-pink);">Appointment list&nbsp;</a></li>
                                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-2">Medications</a></li>
                                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-3">Make Appointment</a></li>
                                    <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-4">Settings</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane" role="tabpanel" id="tab-1">
                                        <div class="table-responsive shadow" style="padding-top: 30px;width: 653px;height: 275px;padding-left: 18px;padding-right: 0px;">
                                            <table class="table table-hover table-borderless">
                                                <thead>
                                                    <tr style="height: 60px;padding-left: 20px;">
                                                        <th>Date</th>
                                                        <th>Time</th>
                                                        <th>Status</th>
                                                        <th>Doctor</th>
                                                    </tr>
                                                </thead>
                                                <% if(appointments) { %>
                                                <% for(var appointment of appointments) { %>
                                                <tbody>
                                                    <tr style="height: 60px;">
                                                        <td><%= appointment.appointmentDate %></td>
                                                        <td><%= appointment.appointmentTime %></td>
                                                        <td><%= appointment.status %></td>
                                                        <td>Dr <%= appointment.doctor.last_name %></td>
                                                    </tr>
                                                </tbody>
                                                <% } %>
                                                <% } else { %>
                                                       <p>You currently have no appointments</p>
                                                <% } %>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="tab-2" style="padding-top: 0px;">
                                        <div class="card shadow mb-3" style="width: 572px;height: 323px;">
                                            <div class="card-header py-3" style="padding-bottom: 10px;height: 52px;">
                                                <p class="m-0 fw-bold" style="font-size: 18px;color: rgb(133,135,150);">Medications</p>
                                            </div>
                                            <div class="card-body" style="height: 360px;padding-bottom: 4px;min-height: none;">
                                                <div class="table-responsive" style="height: 182px;">
                                                    <!-- %> -->
                                                    <table class="table">
                                                        <thead style="height: 60px;text-align: center;">
                                                            <tr>
                                                                <th>Drug name</th>
                                                                <th>Type</th>
                                                                <th>Dosage</th>
                                                            </tr>
                                                        </thead>
                                                        <% if(medications !== null || medications.length > 0) { %>
                                                        <% for(var medication of medications) { %>
                                                        <tbody style="height: 96px;">
                                                            <tr style="height: 48px;text-align: center;">
                                                                <td><%= medication.name %></td>
                                                                <td><%= medication.type %></td>
                                                                <td><%= medication.dosage %></td>
                                                            </tr>
                                                            <tr style="height: 48px;text-align: center;">
                                                            </tr> -->
                                                        </tbody>
                                                        <% } %>
                                                        <% } else { %>
                                                            <p> You currently have no medications </p>
                                                        <% } %>
                                                    </table>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="tab-3" style="padding-top: 0px;padding-left: 42px;margin-top: -20px;">
                                        <h3 class="modal-title" style="text-align: center;padding-top: 27px;">Make appointment</h3>
                                        <div class="col-lg-12 d-lg-flex justify-content-lg-center" style="width: 581px;margin-left: -61px;margin-top: -45px;">
                                            <div class="card shadow mb-3" style="width: 636px;margin-bottom: 1px;height: 407px;">
                                                <div class="card-header py-3">
                                                    <p class="text-primary m-0 fw-bold">Appointment</p>
                                                </div>
                                                <div class="card-body">
                                                    <form action="/dashboard/appointments/" method="POST" style="padding-left: 0px;padding-top: 0px;margin-top: -6px;">
                                                        <label class="form-label" style="font-size: 18px;color: rgb(133,135,150);">Complaints:</label>
                                                        <textarea class="form-control" style="height: 77px;" placeholder="Make a complaint" name="symptoms"></textarea>
                                                        <label class="form-label" style="font-size: 18px;color: rgb(133,135,150);">Date of appointment:</label>
                                                        <input class="form-control" type="date" name="appointmentDate">
                                                        <label class="form-label" style="font-size: 18px;color: rgb(133,135,150);">Time of appointment:</label>
                                                        <input class="form-control" type="text" placeholder="00:00" name="appointmentTime">
                                                        <div style="padding-top: 20px;margin-left: 30px;">
                                                            <button class="btn btn-primary d-grid" type="submit" style="background: #e40046;padding-top: 6px;padding-left: 15px;">Save</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane active" role="tabpanel" id="tab-4">
                                        <div class="col-lg-12 d-lg-flex justify-content-lg-center" style="padding-top: 8px;width: 752px;">
                                            <div class="card shadow mb-3" style="width: 897px;height: 374px;">
                                                <div class="card-header py-3" style="padding-bottom: 10px;height: 52px;">
                                                    <p class="m-0 fw-bold" style="font-size: 18px;color: rgb(133,135,150);">Edit Profile</p>
                                                </div>
                                                <div class="card-body" style="height: 360px;padding-bottom: 4px;min-height: none;">
                                                    <form action="/dashboard/updateProfile" method="POST">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group mb-3">
                                                                    <label class="form-label" for="first_name" style="color: rgb(133,135,150);"><strong>First Name</strong></label>
                                                                    <input class="form-control" type="text" placeholder="John" name="first_name">
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group mb-3">
                                                                    <label class="form-label" for="last_name" style="color: rgb(133,135,150);"><strong>Last Name</strong></label>
                                                                    <input class="form-control" type="text" placeholder="Akinola" name="last_name">
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group mb-3">
                                                                    <label class="form-label" for="email" style="color: rgb(133,135,150);"><strong>Email Address</strong></label>
                                                                    <input class="form-control" type="email" placeholder="<%=user.email%>"  readonly="" style="color: rgb(33, 37, 41);background: rgb(233, 236, 239);">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group mb-3">
                                                                    <label class="form-label" for="email" style="color: rgb(133,135,150);"><strong>Phone Number</strong></label>
                                                                    <input class="form-control" type="tel" placeholder="+234" name="phoneNumber">
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group mb-3">
                                                                    <label class="form-label" for="first_name" style="color: rgb(133,135,150);"><strong>New Password</strong><br></label>
                                                                    <input class="form-control" type="password">
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group mb-3">
                                                                    <label class="form-label" for="first_name" style="color: rgb(133,135,150);"><strong>Confirm New Password</strong><br></label>
                                                                    <input class="form-control" type="password">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group mb-3">
                                                                    <label class="form-label" for="last_name" style="color: rgb(133,135,150);"><strong>Address&nbsp;</strong><br></label>
                                                                    <input class="form-control" type="text" placeholder="first avenue" name="address">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group mb-3">
                                                            <button class="btn btn-primary btn-sm" type="submit">Save Settings</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" style="height: 317px;width: 341px;padding-top: 0px;padding-right: 0px;padding-left: 0px;">
                    <div class="card shadow mb-3" style="width: 350px;height: 363px;margin-top: 24px;">
                        <div class="card-header py-3" style="padding-bottom: 10px;height: 52px;">
                            <p class="m-0 fw-bold" style="font-size: 18px;color: rgb(133,135,150);">User Records</p>
                        </div>
                        <div class="card-body" style="height: 360px;padding-bottom: 4px;min-height: none;">
                            <!-- <form> -->
                                <div class="row">
                                    <div class="col">
                                        <p>Temperature&nbsp;</p><label class="form-label"><%=records.temperature%></label>
                                    </div>
                                    <div class="col">
                                        <p>Blood type</p><label class="form-label"><%=records.blood_type%></label>
                                    </div>
                                    <div class="col">
                                        <p>Blood pressure</p><label class="form-label"><%=records.blood_pressure%></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>Genotype</p><label class="form-label"><%=records.genotype%></label>
                                    </div>
                                    <div class="col">
                                        <p>Weight</p><label class="form-label"><%=records.weight%></label>
                                    </div>
                                    <div class="col">
                                        <p>Pulse Rate</p><label class="form-label"><%=records.pulse_rate%></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>Allergies</p><label class="form-label"><%=records.allergies%></label>
                                    </div>
                                </div>
                            <!-- </form> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-dark" style="background: rgb(40,45,50);margin-right: 0px;padding-left: 11px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item" style="color: rgb(255,255,255);">
                    <h3>Pages</h3>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/dashboard/patient">Settings</a></li>
                        <li><a href="/logout">Log out</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item" style="color: rgb(255,255,255);">
                    <h3>About</h3>
                    <ul>
                        <li><a href="/">CUMC</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text" style="color: rgb(255,255,255);">
                    <h3>Covenant University Medical Center</h3>
                    <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                </div>
            </div>
            <p class="copyright">Moyo © 2021</p>
        </div>
    </footer>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script>
        window.watsonAssistantChatOptions = {
            integrationID: "95abd8e1-6346-4b43-807b-900a49609177", // The ID of this integration.
            region: "eu-gb", // The region your integration is hosted in.
            serviceInstanceID: "0678dbbf-f1f8-4d95-9c28-a3b1450df66f", // The ID of your service instance.
            onLoad: function(instance) { instance.render(); }
          };
        setTimeout(function(){
          const t=document.createElement('script');
          t.src="https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
          document.head.appendChild(t);
        });
      </script>
</body>

</html>